body,html{
    height: 100%;
    margin: 15px;
}
.footerinfo{
    margin: 15px;
    text-align: center;
}
.footericon{
    height: 30px;
    width: 30px;
}
.other-info{
    width: 110px;
}
.input-block{
    display: block;
}
header{
    height: min-content;
}
.parentheight{
    height: 100%;
}
#headerimg{
    width: 300px;
}
.tabs>input{
    display: none;
}
.tabs>div{
    display: none;
}
hr{
    background-color: Khaki;
    height: 2px;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    font-size: 20pt;
    cursor: pointer;
}
.no-margin{
    margin-left: 0px;
}
.tabs>input:checked + label {
    color: rgb(136, 77, 214);
}
.lowLayer>input:checked + label {
    color:black;
    background: rgb(243, 240, 240);
}
.lowLayer>label{
    font-size: 10pt;
    margin: 7px;
}
#tab_11:checked ~ #txt_11,
#tab_21:checked ~ #txt_21,
#tab_12:checked ~ #txt_12 { display: block; }
